.social-support {
  width: 100%;
  padding: 10rem 5rem 10rem 5rem;
}
.social-support_description {
  max-width: 117rem;
  width: 100%;
  margin: 0 auto 7rem auto;
  display: flex;
  justify-content: space-between;
}
.social-support_description .description_text h2 {
  width: 50rem;
  margin: 0 0 7rem 0;
  font-size: 30px;
  font-family: 'Roboto Slab bold';
}
.social-support_description .description_text p {
  margin: 0 0 7rem 0;
  font-size: 20px;
  font-family: 'Circe';
  width: 40rem;
}
.social-support_description .description_text h3 {
  margin: 0 0 2.6rem 0;
  font-size: 22px;
  font-family: 'Circe';
  width: 30rem;
}
